<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/slider.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/blog.css">
    <link rel="stylesheet" type="text/css" href="../css/destination.css">
    <link rel="stylesheet" type="text/css" href="../css/detail.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Animate.css -->
    <link rel="stylesheet" href="../css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="../css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- Superfish -->
    <link rel="stylesheet" href="../css/superfish.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="../css/bootstrap-datepicker.min.css">
    <!-- CS Select -->
    <link rel="stylesheet" href="../css/cs-select.css">
    <link rel="stylesheet" href="../css/cs-skin-border.css">
    
    <link rel="stylesheet" href="../css/style.css">


    <!-- Modernizr JS -->
    <script src="../js/modernizr-2.6.2.min.js"></script>
    <title>Document</title>
    <style>

        .tour
        {
            position: relative;
        }
        .button {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
          position: absolute;
          bottom: 5%;
          right: 5%;
        }
        .button:hover {
      background-color: rebeccapurple`;
      color: white;
    }
        </style>
 
</head>

<body>
    <div class="navigation">
        <div class="nav-bar">
            <div class="logo">
                <a href="ex.html"><img src="../image/logo.png"></a>
            </div>
            <div class="menu-items">
                <ul id="myTopnav">
                    
                    <li class="menu-item"><a href="./ex.html">Home</li>
                    <li class="menu-item"><a href="./food.html">Food</li>
                    <li class="menu-item"></a>Destination</li>
                    <li class="menu-item"><a href="./ride.html"> Ride</li>
                    <li class="menu-item"><a href="./Guide.html">Guide</a></li>
                    
                    <li class="menu-item"><a href="./contact.html">Contact</a></li>
                 
                </ul>
            </div>
            <div class="icons">
                <div class="signin">
                    <li class="menu-item"><a href="./login.html"><i class="material-icons">vpn_key</a></i>
                    <span>Log In</span>
                </div>
                <div class="register">
                    <li class="menu-item"><a href="./Register.html">  <i class="material-icons">perm_identity </a> </i>
                    <span>Register</span>
                </div>
            </div>
                
            </div>
        </div>
    </div>
    <div class="details">
        <div class="sub-destination">
            <div class="service-title destination-package-name">Pokhara-Tour - 5 Days</div>
            <div class="destination-package-image">
                <img src="../image/slider2.jpg">
            </div>
            <div class="detail-description">
                <span>Annapurna Circuit is a trek within the Annapurna mountain range of central
                    Nepal.The total length of the route varies between 160–230 km (100-145 mi), depending on where motor
                    transportation is used and where the trek is ended. This trek crosses two different river valleys
                    and
                    encircles the Annapurna massif. The path reaches its highest point at Thorung La pass (5416m/17769
                    ft),
                    touching the edge of the Tibetan plateau.</span>

                <span>Practically all trekkers hike the route anticlockwise, as this way the daily altitude gain is
                    slower, and
                    crossing the high Thorong La pass is easier and safer. The mountain scenery, seen at close quarters
                    includes
                    the Annapurna Massif (Annapurna I-IV), Dhaulagiri, Machhapuchhre, Manaslu, Gangapurna, Tilicho Peak,
                    Pisang
                    Peak, and Paungda Danda. Numerous other peaks of 6000-8000m in elevation rise from the Annapurna
                    range. The
                    trek begins at Besisahar or Bhulbhule in the Marshyangdi river valley and concludes in the Kali
                    Gandaki
                    Gorge. Besisahar can be reached after a seven-hour drive from Kathmandu.</span>
            </div>
            <div class="stepbystep">
                <div class="message-wrap">
                    <div class="message">
                        <div class="circle">1</div>
                        <div class="step-detail">
                            <span class="step-title">Kathmandu to Pokhara (By flight or Bus)</span>
                            <span class="step-description">Arrive at Tribhuwan International Airport, Kathmandu, you are
                                welcomed by the team and then you will be transferred to your hotel. This trail goes
                                through Ghorepani Poon Hill. Normally, the trek starts like Phokhara to Nayapul and ends
                                like Phedi to Pokhara.</span>
                        </div>
                    </div>
                    <div class="message">
                        <div class="circle">2</div>
                        <div class="step-detail">
                            <span class="step-title">Kathmandu to Pokhara (By flight or Bus)</span>
                            <span class="step-description">Arrive at Tribhuwan International Airport, Kathmandu, you are
                                welcomed by the team and then you will be transferred to your hotel. This trail goes
                                through Ghorepani Poon Hill. Normally, the trek starts like Phokhara to Nayapul and ends
                                like Phedi to Pokhara.</span>
                        </div>
                    </div>
                    <div class="message">
                        <div class="circle">3</div>
                        <div class="step-detail">
                            <span class="step-title">Kathmandu to Pokhara (By flight or Bus)</span>
                            <span class="step-description">Arrive at Tribhuwan International Airport, Kathmandu, you are
                                welcomed by the team and then you will be transferred to your hotel. This trail goes
                                through Ghorepani Poon Hill. Normally, the trek starts like Phokhara to Nayapul and ends
                                like Phedi to Pokhara.</span>
                        </div>
                    </div>
                    <div class="message">
                        <div class="circle">4</div>
                        <div class="step-detail">
                            <span class="step-title">Kathmandu to Pokhara (By flight or Bus)</span>
                            <span class="step-description">Arrive at Tribhuwan International Airport, Kathmandu, you are
                                welcomed by the team and then you will be transferred to your hotel. This trail goes
                                through Ghorepani Poon Hill. Normally, the trek starts like Phokhara to Nayapul and ends
                                like Phedi to Pokhara.</span>
                        </div>
                    </div>
                    <div class="message">
                        <div class="circle">5</div>
                        <div class="step-detail">
                            <span class="step-title">Kathmandu to Pokhara (By flight or Bus)</span>
                            <span class="step-description">Arrive at Tribhuwan International Airport, Kathmandu, you are
                                welcomed by the team and then you will be transferred to your hotel. This trail goes
                                through Ghorepani Poon Hill. Normally, the trek starts like Phokhara to Nayapul and ends
                                like Phedi to Pokhara.</span>
                        </div>
                    </div>
                    <div class="message">
                        <div class="circle">6</div>
                        <div class="step-detail">
                            <span class="step-title">Kathmandu to Pokhara (By flight or Bus)</span>
                            <span class="step-description">Arrive at Tribhuwan International Airport, Kathmandu, you are
                                welcomed by the team and then you will be transferred to your hotel. This trail goes
                                through Ghorepani Poon Hill. Normally, the trek starts like Phokhara to Nayapul and ends
                                like Phedi to Pokhara.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="enquiry">
                <div class="enquiry-package">
                    <div class="enquiry-detail">You can send your enquiry via the form below.</div>
                    <div class="package-names">Package name: <span>Pokhara Nepal</span></div>
                    <div class="forms">
                        <input type="text" placeholder="Enter your name">
                        <input type="text" placeholder="Enter your name">
                        <input type="text" placeholder="Enter your name">
                        <input type="text" placeholder="Enter your name">
                        <input type="text" placeholder="Enter your name">
                        <input type="text" placeholder="Enter your name">
                        <textarea></textarea>
                    </div>
                </div>
            </div>
    </div>

    
        <div class="footer">
            <div class="about-us">
                <div class="about-title">About Us</div>
                <div class="about-description">
                    We are the locals of the kathmandu valley promoting the local products and foods that are avilable within a valley. We also provide package related to the travles around thr kathmanduvalley. We can create the most unforgettable
                    holiday for you, your family, and friends!
                </div>
            </div>
            <div class="contact-information">
                <div class="about-title">Contact Information</div>
                <div class="contact-place">
                    <i class="material-icons">place</i>
                    <span>Kirtipur 05</span>
                </div>
                <div class="contact-place">
                    <i class="material-icons">call</i>
                    <span>-+977 9813 503 4199</span>
                </div>
                <div class="contact-place">
                    <i class="material-icons">email</i>
                    <span>ktmcity@gmail.com</span>
                </div>
            </div>
            <div class="news">
                <div class="about-title">Newsletter</div>
                <div class="about-description">Sign up to our newsletter and be the first to know about the latest news,
                    special offers, events,
                    and discounts.</div>
                <div class="subscribe">
                    <input type="text" placeholder="Email">
                    <i class="material-icons">email</i>
                </div>
            </div>
        </div>
        <div class="footer-logo">
            <div><img src="../image/spark.jpg"></div>
            <div>© 2020 All Rights Reserved</div>
        </div>
    </footer>
</body>
<script src="../js/slider.js"></script>
<script src="../js/hour.js"></script>

    <script src="../js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="../js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="../js/jquery.waypoints.min.js"></script>
    <script src="../js/sticky.js"></script>

    <!-- Stellar -->
    <script src="../js/jquery.stellar.min.js"></script>
    <!-- Superfish -->
    <script src="../js/hoverIntent.js"></script>
    <script src="../js/superfish.js"></script>
    <!-- Magnific Popup -->
    <script src="../js/jquery.magnific-popup.min.js"></script>
    <script src="../js/magnific-popup-options.js"></script>
    <!-- Date Picker -->
    <script src="../js/bootstrap-datepicker.min.js"></script>
    <!-- CS Select -->
    <script src="../js/classie.js"></script>
    <script src="../js/selectFx.js"></script>
    
    <!-- Main JS -->
    <script src="../js/main.js"></script>

</html>